
SerialCommuincation/.vs/SerialCommuincation/FileContentIndex/1c4f6f9b-9ca7-41c2-97bb-fbe7e6d5ba95.vsidx
SerialCommuincation/.vs/SerialCommuincation/v17/ipch/fdad6b37cfe4ff21.ipch
SerialCommuincation/.vs/SerialCommuincation/FileContentIndex/0c7f9dcb-137c-43dc-a6e3-0e26f194f6da.vsidx
SerialCommuincation/.vs/SerialCommuincation/FileContentIndex/3976549a-503f-4187-adcc-9042572367ea.vsidx
